.category-container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.category-title {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0px;
}